<template name="dynamicTables">
  <div class="dynamic-table-demo" style="margin-bottom: 30px;">
    {{#if isReady}}
      {{> GroupedTable
        id="demo-table"
        table=tableSpec
        customGroupButtonSelector=".dynamic-table-manage-groups"
        class="display table table-striped table-new-style"
        columns=availableColumns
        custom=savedTableSpecFn
        manageFieldsOptions=manageFieldsOptions
        groupableFields=groupableFields
        expandAll=false
        style="width: 100%;"
      }}
    {{/if}}
  </div>
</template>
