<template name="footer">
  <footer class="fixed-bottom">
    <nav class="navbar navbar-expand navbar-light bg-light" style="height: 50px;">
      {{#if bitbucketUrl}}
        <a href="{{bitbucketUrl}}" target="_blank" class="btn btn-outline-success my-2 my-sm-0">Bitbucket</a>
      {{/if}}
      <div class="collapse navbar-collapse" id="footerNavbar">
        <ul class="navbar-nav ml-auto">
          {{#each item in items}}
            <li class="nav-item">
              <a class="nav-link" href="{{item.href}}">{{item.text}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </nav>
  </footer>
</template>
