<template name="header">
  <header class="sticky-top">
    {{#if isClient}}
      {{> notifications}}
    {{/if}}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Zack Newsham</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="headerNavbar">
          <ul class="navbar-nav mr-auto">
            {{#each item in items}}
              {{#if item.items}}
                <li class="nav-item dropdown {{#if isActive item}}active{{/if}}">
                  <a id="menu-{{@index}}" href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{item.text}}</a>
                  <div class="dropdown-menu" aria-labelledby="menu-{{@index}}">
                    {{#each subItem in item.items}}
                      <a class="dropdown-item" href="{{subItem.href}}">{{subItem.text}}</a>
                    {{/each}}
                  </div>
                </li>
              {{else}}
                <li class="nav-item {{#if isActive item}}active{{/if}}">
                  <a class="nav-link" href="{{item.href}}">{{item.text}}</a>
                </li>
              {{/if}}
            {{/each}}
          </ul>

          {{#if saveBtn}}
            <span class="d-inline-block" id="save-btn-wrapper" tabindex="0" data-toggle="{{#unless isAdmin}}tooltip{{/unless}}" title="{{#unless isAdmin}}Only I can do that! Feel free to preview your changes though{{/unless}}">
              <button class="btn btn-outline-success" style="{{#unless isAdmin}}pointer-events: none;{{/unless}}" id="save-btn" {{disabledIfNotAdmin}}>Save</button>
            </span>
          {{/if}}
          {{#if previewBtn}}
            <a href="/article/preview/article" target="_blank" class="btn btn-outline-info" id="preview-btn">Preview</a>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>
</template>
