<template name="mainLayout">
  {{> header headerData}}
  <div class="{{class container}}" style="padding-bottom: 50px; {{style}}">
    {{> Template.dynamic template=main data=data}}
    {{#if isLoading}}
      {{> loading}}
    {{/if}}
  </div>
  {{> footer footerData}}
</template>
