<template name="editArticle">
  <form id="article-extra">
    <div class="row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Article Title" value="{{article.title}}">
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="tags">Tags</label>
        <select type="text" class="form-control" id="tags" name="tags" placeholder="Article Tags"></select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label for="imageSrc">Image</label>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <input type="file" class="form-control" id="imageSrc" name="imageSrc" placeholder="Article Image" />
          </div>
          <img class="col-md-6 col-sm-6" src="{{article.imageSrc}}" height="300" style="object-fit: contain;" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" placeholder="Description">{{article.description}}</textarea>
      </div>
    </div>
  </form>
  {{> ArticleEditor_editArticle blockList=blockList slug=articleSlug}}
</template>
