<template name="resume_eagleeye">
  <ul>
    <li>Write project specifications based on user requirements</li>
    <li>Write and execute test plans based on project specifications</li>
    <li>Improve performance and functionality of existing systems</li>
    <li>Develop additional functionality for existing systems</li>
    <li>Develop administrative tools for complex commercial applications</li>
    <li>Develop API for integrating with SMS marketing – handling thousands of requests per day</li>
  </ul>
  <div class="mb-2 text-muted">Technologies Used: PHP, Javascript, AJAX, MySQL, Yii, Codeigniter</div>
</template>
