<template name="resume_irdeto">
  <ul>
    <li>Evaluated current state-of-the-art systems in obfuscation and anti-debug</li>
    <li>Proposed, designed, developed and evaluated a new technique of client-side anti-debug</li>
  </ul>
  <div class="text-muted mb-2">
    Technologies Used: Meteor, Node, Esprima, Bayesian analysis, Survival analysis
    <a class="btn btn-outline-primary btn-small pull-right" href="/article/irdeto">Read More</a>
  </div>
</template>
