<template name="resume_justplay">
  <ul>
    <li>Managed a small team of developers, designers and testers</li>
    <li>Evaluate language, framework, database and infrastructure options and make recommendations on
  which to use</li>
    <li>Designed and developed a cloud based multi-tenant, multi-role, sport agnostic content management,
  training, video analysis and statistical analysis platform for the sports industry, currently in use by
  more than 600 professional and collegiate programs in the united states</li>
    <li>Release numerous open source packages currently in use by multiple projects</li>
    <li>Manage, monitor and maintain a complex scalable architecture, including multiple production level
  public-facing servers, databases and administrative systems</li>
    <li>Integrate with numerous API’s of various levels of complexity and quality</li>
  </ul>

  <div class="mb-2 text-muted">
    Technologies used: Meteor, Node, Mongo, Cordova (iOS, Android) AWS (Lambda, SES, SNS, S3, EC2)
    <a class="btn btn-outline-primary btn-small pull-right" href="/article/justplay">Read More</a>
  </div>
</template>
