<template name="resume_mobiplus">
  <ul>
    <li>Developed complex SMS marketing platform with multiple international aggregators</li>
    <li>Customer tracking and data aggregation</li>
    <li>Implement multiple language website</li>
    <li>Developed billing with numerous invoicing providers</li>
    <li>Complex SMPP implementation for both sending and receiving</li>
  </ul>
  <div class="mb-2 text-muted">
    Technologies Used: PHP, Yii, MySQL, AJAX, Javascript, Java, Test-Driven Development
  </div>
</template>
