<template name="resume_mushroomcloud">
  <ul>
    <li>Managed a small team of developers, designers and testers</li>
    <li>Full exam maintenance and candidate scheduling system for the “Royal College of Dentists Canada”</li>
    <li>Financial aggregation and share pricing for “Traders Edge”</li>
    <li>Invoicing and rental information for “The Housse”</li>
    <li>Full stack website + existing services integration for “Equine Canada”</li>
  </ul>
  <div class="mb-2 text-muted">
    Technologies used: PHP, Yii, MySQL, Java, jQuery, Google App Engine, Meteor, Node, Mongo, Test-Driven Development
    <a class="btn btn-outline-primary btn-small pull-right" href="/article/mushroomcloud">Read More</a>
  </div>
</template>
