<template name="resume_qnx">
  <ul>
    <li>Integration of multiple companies technologies into a concept car.</li>
    <li>Development of custom drivers and user interface.</li>
    <li>Requirements gathering and standards compliance.</li>
  </ul>
  <div class="mb-2 text-muted">
    Technologies used: C++, QNX Neutrino/Car2, Qt, Javascript, WebSockets, Bluetooth
    <a class="btn btn-outline-primary btn-small pull-right" href="/article/qnx">Read More</a>
  </div>
</template>
