<template name="resume_vworker">
  <ul>
    <li>Numerous projects for clients worldwide.</li>
    <li>Develop two complex social network sites (music video and photography).</li>
    <li>Develop Flash app to allow broadcasting of live music performances, with chat.</li>
    <li>Develop Flash application to allow user creation of collages based on admin or user defined templates.</li>
    <li>Develop a multi axis scrollable, scalable chart.</li>
    <li>Search Engine Optimization (SEO).</li>
  </ul>
  <div class="mb-2 text-muted">Technologies used: PHP, ASP, Java, Javascript, XHTML, CSS2.0, Flash, GD Image functions, Photoshop, CentOS</div>
</template>
