<template name="hiveGameView">
  {{#if game}}
    {{> hiveGameComponent game=game}}
  {{else}}
    <select id="game-type">
      <option value="">Select a Game Type</option>
      <option value="human">Start a game against another person</option>
      <option value="join">Join a game</option>
      <option value="random">Start a game against the computer</option>
      <option value="local">Start a local game</option>
      <option value="replay">Replay a game</option>
    </select>

    {{#if needGameId}}
      <input type="text" id="game-id" />
    {{/if}}

    <button id="start-game">Start</button>
  {{/if}}
</template>
