<template name="codeListing">
  <div class="code-listing" style="">
      <div style="clear: both;">
        {{#if content.title}}
          <h3 style="float: left">{{content.title}}</h3>
        {{/if}}
        {{#if content.linkLabel}}
          <a target="_blank" rel="noopener" class="pull-right" href="{{content.linkUrl}}">{{content.linkLabel}}</a>
        {{/if}}
      </div>
    <pre style="clear: both; height: {{content.height}}px" data-start="{{getStartLineNumber block}}" class="language-{{content.language}} line-numbers"><code>{{code block}}</code></pre>
  </div>
</template>
