<template name="editCodeListing">
  <div class="form-group">
    <label>Language</label>
    <select name="language" class="form-control">
      <option value="javascript" {{selected "language" "javascript"}}>Javascript</option>
      <option value="html" {{selected "language" "html"}}>HTML</option>
    </select>
  </div>
  <div class="form-group">
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" data-name="type" name="{{block._id}}-type" value="remote" {{selected "type" "remote" "checked"}} />
        Remote
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" data-name="type" name="{{block._id}}-type" value="inline" {{selected "type" "inline" "checked"}} />
        Inline
      </label>
    </div>
  </div>
  <div class="form-group">
    <label>Listing Title</label>
    <input type="text" name="title" value="{{content.title}}" class="form-control" />
  </div>
  <div class="form-group">
    <label>Height</label>
    <input type="number" name="height" value="{{content.height}}" class="form-control" />
  </div>
  {{#if inline}}
    <div class="form-group">
      <label>Code</label>
      <textarea name="code" class="form-control">{{content.code}}</textarea>
    </div>
  {{else}}
    <div class="form-group">
      <label>Code URL</label>
      <input type="url" name="url" class="url form-control" value="{{content.url}}" />
    </div>
    <div class="form-group">
      <label>Link URL</label>
      <input type="url" name="linkUrl" value="{{content.linkUrl}}" class="form-control" />
    </div>
    <div class="form-group">
      <label>Link Label</label>
      <input type="text" name="linkLabel" value="{{content.linkLabel}}" class="form-control" />
    </div>
    <div class="form-group">
      <label>Start line</label>
      <input type="number" name="startLine" value="{{content.startLine}}" class="form-control" />
    </div>
    <div class="form-group">
      <label>End line</label>
      <input type="number" name="endLine" value="{{content.endLine}}" class="form-control" />
    </div>
  {{/if}}
</template>
