<template name="encryptedMessages">
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="name" /> <br />
      <textarea class="message"></textarea> <br />
      <button class="btn btn-default">Post</button>
    </div>
    <div class="col-md-6">
      {{#each message in messages}}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {{message.name}}
              {{#if isEncrypted message}}
                <a href="#" class="pull-right text-muted request-access" data-principal-id="{{message._enc._}}">
                  Request Access
                </a>
              {{else}}
                {{#if message.accessRequests.length}}
                  <a href="#" class="pull-right text-muted access-requests" data-message-id="{{message._id}}">Pending Access Requests</a>
                {{/if}}
              {{/if}}
            </h5>
            <p class="card-text" style="{{#if isEncrypted message}}display: none;{{/if}}">{{getMessage message.message}}</p>
          </div>
          <div class="card-footer"  style="{{#if isEncrypted message}}display: none;{{/if}}">
            <small class="text-muted">{{message.date}}</small>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

</template>
