<template name="hiveGameComponent">
  {{#unless hasAllPlayers}}
    {{game.gameId}}<br />
    Waiting for player...
  {{else}}
    <div class="hiveGameBoard row">
      <div class="my-pallete col-md-2 col-sm-12">
        <svg class="pallete {{#unless hasPieces player}}no-pieces{{/unless}}">
          <g transform="translate(0, 26), scale(1.5)">
            {{#each piece in (unusedPieces player)}}
              <g data-index="{{@index}}" data-pieceid="{{piece._id}}" class="hexagon piece {{piece.class}}">
                <path style="fill: {{player.color}}" d="M0 -13.85 L12 -6.925 L12,6.925 L0,13.85 L-12,6.925 L-12,-6.925 L0,-13.85">
                </path>
                <path class="top" d="M0 -13.85 L12 -6.925 L12,6.925 L0,13.85 L-12,6.925 L-12,-6.925 L0,-13.85">
                </path>
              </g>
            {{/each}}
          </g>
        </svg>
      </div>
      <div class="hiveGameBoardWrapper col-md-8 col-sm-12">
        {{#if winner}}
          {{#if youAreWinner}}
            You won :)
          {{else if youAreLoser}}
            You list :(
          {{else}}
            Draw!
          {{/if}}
        {{else}}
          {{#if myTurn}}
            Make your move
          {{else}}
            Waiting for opponent
          {{/if}}
        {{/if}}
        {{> hiveGameBoard
          boardDimensions=boardDimensions
          visibleHexagons=visibleHexagons
          size=size
          game=game
        }}
      </div>

      <div class="opp-pallete col-md-2 col-sm-12">
        <h1>Opp Pieces</h1>
        <svg class="pallete {{#unless hasPieces opponent}}no-pieces{{/unless}}">
          <g transform="translate(0, 26), scale(1.5)">
            {{#each piece in (unusedPieces opponent)}}
              <g data-index="{{@index}}" data-pieceid="{{piece._id}}" class="hexagon piece {{piece.class}}">
                <path style="fill: {{opponent.color}}" d="M0 -13.85 L12 -6.925 L12,6.925 L0,13.85 L-12,6.925 L-12,-6.925 L0,-13.85">
                </path>
                <path class="top" d="M0 -13.85 L12 -6.925 L12,6.925 L0,13.85 L-12,6.925 L-12,-6.925 L0,-13.85">
                </path>
              </g>
            {{/each}}
          </g>
        </svg>
      </div>
    </div>
  {{/unless}}
</template>
