.hiveGameBoard {
  svg.pallete {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hiveGameBoard {
    div.my-pallete {
      position: sticky;
      top: 56px;
      background-color: #fff;
      z-index: 1020;
    }
    div.opp-pallete {
      position: sticky;
      bottom: 50px;
      background-color: #fff;
      z-index: 1020;
      h1 {
        display: none;
      }
    }
    svg.pallete {
      &.no-pieces {
        display: none;
      }
      height: 100px;
      g.hexagon {
        &:nth-child(1) {
          transform: translate(12px, 0px);
        }
        &:nth-child(2) {
          transform: translate(12px, 30px)
        }
        &:nth-child(3) {
          transform: translate(42px, 0px)
        }
        &:nth-child(4) {
          transform: translate(42px, 30px)
        }
        &:nth-child(5) {
          transform: translate(72px, 0px)
        }
        &:nth-child(6) {
          transform: translate(72px, 30px)
        }
        &:nth-child(7) {
          transform: translate(102px, 0px)
        }
        &:nth-child(8) {
          transform: translate(102px, 30px)
        }
        &:nth-child(9) {
          transform: translate(132px, 0px)
        }
        &:nth-child(10) {
          transform: translate(132px, 30px)
        }
        &:nth-child(11) {
          transform: translate(162px, 0px)
        }
        &:nth-child(12) {
          transform: translate(162px, 30px)
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .hiveGameBoard {
    svg.pallete {
      height: 340px;
      g.hexagon {
        &:nth-child(1) {
          transform: translate(12px, 0px);
        }
        &:nth-child(2) {
          transform: translate(42px, 0px)
        }
        &:nth-child(3) {
          transform: translate(12px, 30px)
        }
        &:nth-child(4) {
          transform: translate(42px, 30px)
        }
        &:nth-child(5) {
          transform: translate(12px, 60px)
        }
        &:nth-child(6) {
          transform: translate(42px, 60px)
        }
        &:nth-child(7) {
          transform: translate(12px, 90px)
        }
        &:nth-child(8) {
          transform: translate(42px, 90px)
        }
        &:nth-child(9) {
          transform: translate(12px, 120px)
        }
        &:nth-child(10) {
          transform: translate(42px, 120px)
        }
        &:nth-child(11) {
          transform: translate(12px, 150px)
        }
        &:nth-child(12) {
          transform: translate(42px, 150px)
        }
      }
    }
  }
}
