@media (max-width: 500px){
  #resume {
    text.commit-subject {
      display: none;
    }
    text.commit-info-icon {
      font-family: FontAwesome;
      display: block;
    }
  }
}
@media (min-width: 501px){
  #resume {
    text.commit-subject {
      display: unset;
    }
    text.commit-info-icon {
      font-family: FontAwesome;
      display: none;
    }
  }
}
#resume {
  circle {
    transition: transform 1s;
  }
  .commit-content {
    text.commit-subject, text.commit-date, text.commit-info-icon {
      transition: transform 1s;
    }
    path {
      opacity: 0;
      transition: opacity 0s 0.5s;
    }
    &.visible {
      text.commit-subject, text.commit-date, text.commit-info-icon {
        transform: translate(0, 0) !important;
      }
      path {
        opacity: 1;
      }
    }
  }
}
