<template name="resume">
  <div class="row" style="margin-left: 0px; margin-right: 0px">
    <button class="form-control change-type btn btn-outline-dark col-md-6 col-xs-12 {{#if graph}}active{{/if}}" data-type="graph">Awesome Graph</button>
    <button class="form-control change-type btn btn-outline-dark col-md-6 col-xs-12 {{#unless graph}}active{{/unless}}" data-type="table">Boring Table</button>
  </div>
  <div style="{{#unless graph}}display: none{{/unless}}">
    <select id="tags" class="mt-2 form-control" name="tags" placeholder="Looking for something in particular?"></select>
    {{#let svg=resumeElements}}
      <svg id="resume" style="height: {{svg.height}}px; width: 100%;"  xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(100, 0)">
          {{> svgPart children=svg.children}}
        </g>
      </svg>
    {{/let}}
  </div>
  <div class="row" style="{{#if graph}}display: none{{/if}}">
    {{#each branch in branches}}
      <div class="col-md-12 col-sm-12">
        <div class="row">
        <div class="col-8 col-sm-9 col-md-8">
          <h4>{{branch.firstCommit.subject}}</h4>
        </div>
          <div class="text-muted text-right col-4 col-sm-3 col-md-4">
            {{dateRange branch}}
          </div>
          <div class="col-12">
            {{> Template.dynamic template=(templateName branch)}}
          </div>
          <hr style="width: 100%" />
        </div>
      </div>
    {{/each}}
  </div>

  {{#modal title=(modalTitle selectedCommit)}}
    {{#if selectedCommit}}
      {{#if selectedCommit.body}}
        {{{selectedCommit.body}}}
      {{else}}
        {{#unless cameFromInfoIcon}}
          {{> Template.dynamic template=(templateName selectedCommit.branch)}}
        {{/unless}}
      {{/if}}
    {{/if}}
  {{/modal}}
</template>


<template name="svgPart">
  {{#each element in children}}
    {{#if element.isPath}}
      <path {{element.attr}} id="{{element._id}}">
        {{#if element.children}}
          {{> svgPart children=element.children}}
        {{/if}}
      </path>
    {{/if}}
    {{#if element.isLine}}
      <path {{element.attr}} id="{{element._id}}"></path>
    {{/if}}
    {{#if element.isDot}}
      <circle {{element.attr}} id="{{element._id}}"></circle>
    {{/if}}
    {{#if element.isText}}
      <text {{element.attr}} id="{{element._id}}">{{element.text}}</text>
    {{/if}}
    {{#if element.isG}}
      <g {{element.attr}} id="{{element._id}}">
        {{> svgPart children=element.children}}
      </g>
    {{/if}}
  {{/each}}
</template>
