<template name="loading">
  <div style="background-color: #fff; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; text-align: center">
    <img src="/loading.gif" />
  </div>
</template>
