<template name="hiveBoard">
  <div class="article-editor-hiveBoard">
    <div style="text-align: center">
      <input class="current-move" type="range" min="0" max="{{numMoves}}" value="{{currentMove}}" />
      <button class="btn btn-default play">{{#if playing}}pause{{else}}play{{/if}}</button>
    </div>
    {{> hiveGameBoard
      boardDimensions=boardDimensions
      visibleHexagons=visibleHexagons
      size=size
      game=game
    }}
  </div>
</template>
