<template name="articles">
  <div class="row">
    {{#each article in articles}}
      <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12 mt-2">
        <div class="card" style="height: 100%;">
          <img class="card-img-top" src="{{imageSrc article}}" alt="{{article.title}}" style="max-height: 150px; object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text">{{article.description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{lastUpdated article}}</small>
            <a href="/article/{{article.slug}}" class="btn btn-primary pull-right btn-small">Read</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</template>
