<template name="hiveGameBoard">
  <svg class="gameBoard" viewBox="{{boardDimensions.left}} {{boardDimensions.top}} {{boardDimensions.width}} {{boardDimensions.height}}" style="width:  {{boardDimensions.width}}px; height: {{boardDimensions.height}}px; margin: auto; display: block;">
    <defs>
      <pattern id="_spider" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" x="0" y="0" width="{{width size}}" height="{{height size}}">
        <image xlink:href="/hive/spider.png" x="0" y="0" width="{{width size}}" height="{{height size}}" />
      </pattern>
      <mask id="spider-mask" maskUnits="userSpaceOnUse">
        <circle cx="{{halfWidth size}}" cy="{{halfHeight size}}" r="{{width size}}" fill="url(#_spider)" />
      </mask>
      <pattern id="spider" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" x="-{{halfWidth size}}" y="{{halfHeight size}}" width="{{width size}}" height="{{height size}}">
        <circle style="fill: #9C5935; mask: url(#spider-mask)" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" cx="{{halfWidth size}}" cy="{{halfHeight size}}" r="50" />
      </pattern>

      <pattern id="_ant" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" x="0" y="0" width="{{width size}}" height="{{height size}}">
        <image xlink:href="/hive/ant.png" x="0" y="0" width="{{width size}}" height="{{height size}}" />
      </pattern>
      <mask id="ant-mask" maskUnits="userSpaceOnUse">
        <circle cx="{{halfWidth size}}" cy="{{halfHeight size}}" r="{{width size}}" fill="url(#_ant)" />
      </mask>
      <pattern id="ant" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" x="-{{halfWidth size}}" y="{{halfHeight size}}" width="{{width size}}" height="{{height size}}">
        <circle style="fill: #367E86; mask: url(#ant-mask)" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" cx="{{halfWidth size}}" cy="{{halfHeight size}}" r="50" />
      </pattern>

      <pattern id="_queen" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" x="0" y="0" width="{{width size}}" height="{{height size}}">
        <image xlink:href="/hive/queen.png" x="0" y="0" width="{{width size}}" height="{{height size}}" />
      </pattern>
      <mask id="queen-mask" maskUnits="userSpaceOnUse">
        <circle cx="{{halfWidth size}}" cy="{{halfHeight size}}" r="{{width size}}" fill="url(#_queen)" />
      </mask>
      <pattern id="queen" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" x="-{{halfWidth size}}" y="{{halfHeight size}}" width="{{width size}}" height="{{height size}}">
        <circle style="fill: #F99C38; mask: url(#queen-mask)" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" cx="{{halfWidth size}}" cy="{{halfHeight size}}" r="50" />
      </pattern>

      <pattern id="_beatle" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" x="0" y="0" width="{{width size}}" height="{{height size}}">
        <image xlink:href="/hive/beatle.png" x="0" y="0" width="{{width size}}" height="{{height size}}" />
      </pattern>
      <mask id="beatle-mask" maskUnits="userSpaceOnUse">
        <circle cx="{{halfWidth size}}" cy="{{halfHeight size}}" r="{{width size}}" fill="url(#_beatle)" />
      </mask>
      <pattern id="beatle" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" x="-{{halfWidth size}}" y="{{halfHeight size}}" width="{{width size}}" height="{{height size}}">
        <circle style="fill: #725A8C; mask: url(#beatle-mask)" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" cx="{{halfWidth size}}" cy="{{halfHeight size}}" r="50" />
      </pattern>

      <pattern id="_hopper" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" x="0" y="0" width="{{width size}}" height="{{height size}}">
        <image xlink:href="/hive/hopper.png" x="0" y="0" width="{{width size}}" height="{{height size}}" />
      </pattern>
      <mask id="hopper-mask" maskUnits="userSpaceOnUse">
        <circle cx="{{halfWidth size}}" cy="{{halfHeight size}}" r="{{width size}}" fill="url(#_hopper)" />
      </mask>
      <pattern id="hopper" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" x="-{{halfWidth size}}" y="{{halfHeight size}}" width="{{width size}}" height="{{height size}}">
        <circle style="fill: #009B40; mask: url(#hopper-mask)" patternUnits="userSpaceOnUse" preserveAspectRatio="xMinYMin slice" cx="{{halfWidth size}}" cy="{{halfHeight size}}" r="50" />
      </pattern>
    </defs>
    {{#each hexagon in visibleHexagons}}
      {{#let middle = (hexagon.middle size)}}
        <g data-index="{{@index}}" data-id="{{hexagon._id}}" data-pieceid="{{hexagon.topPiece._id}}" class="hexagon {{#if hexagon.topPiece}}piece {{hexagon.topPiece.class}} {{/if}}" transform="translate({{middle.x}}, {{middle.y}})">
          <path transform="scale({{hexagon.scale size}})" style="fill: {{hexagon.color game}}!important; {{#if hexagon.highlighted}}opacity: 0.5;{{/if}}" d="M0 -13.85 L12 -6.925 L12,6.925 L0,13.85 L-12,6.925 L-12,-6.925 L0,-13.85">
          </path>
          {{#if hexagon.topPiece}}
            <path class="top" transform="scale({{hexagon.scale size}})" d="M0,-13.85 L12,-6.925 L12,6.925 L0,13.85 L-12,6.925 L-12,-6.925 L0,-13.85">
            </path>
          {{/if}}
        </g>
      {{/let}}
    {{/each}}
  </svg>
</template>
