svg.gameBoard,svg.pallete {
  vertical-align: top;
  .hexagon {
    &.queen {
      path.top {
        fill: url(#queen);
      }
    }
    &.beatle {
      path.top {
        fill: url(#beatle);
      }
    }
    &.hopper {
      path.top {
        fill: url(#hopper);
      }
    }
    &.spider {
      path.top {
        fill: url(#spider);
      }
    }
    &.ant {
      path.top {
        fill: url(#ant);
      }
    }

    path {
      stroke: #aaaaaa !important;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
